# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
monenv/
ENV/
*.egg-info/
.pytest_cache/

# Django
*.log
db.sqlite3
media/
staticfiles/

# IDE
.vscode/
.idea/
*.swp
*.swo

# Git
.git/
.gitignore

# Docker
Dockerfile
docker-compose.yml
.dockerignore

# Autres
.env
*.md
README.md
