# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
monenv/
ENV/
*.egg-info/

# Django
*.log
db.sqlite3
media/
staticfiles/

# Base de données
*.sql
*.dump

# Environnement
.env

# IDE
.vscode/
.idea/
*.swp

# Docker
*.pid
docker-compose.override.yml

# OS
.DS_Store
Thumbs.db
